#control {
  input {
    margin-top: 3em;
  }
}

#result strong {
  color: red;
}

p.result {
  height: 1.5em;
  margin-left: 1em;
}

ol {
  list-style: disc;
}

strong {
  font-weight: bold;
  &.one-eye {
    color: red;
  }
  &.botch {
    color: red;
    margin-right: 0.5em;
  }
}

input[type="number"] {
  width: 3em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

ol > li {
  position: relative;
  height: 7em;
  margin-bottom: 1em;
}

.result {
  position: absolute;
       top: 0;
      left: 10em;
}

li ul {
  margin-left: 0;
  padding-left: 0.5em;;
  list-style: none;
}

.number {
  font-size: 4em;
}
