#control {
  input {
    margin: 4em 0;
    height: 3em;
  }
}

#result {
  strong {
    color: red;
    &.number {
      font-family: "Homemade Apple";
    }
  }
}

.result {
  height: 1.5em;
  margin-left: 1em;
  position: absolute;
       top: 0;
      left: 10em;
}

ol {
  list-style: disc;
}

strong {
  font-weight: bold;
  &.one-eye {
    color: red;
  }
  &.botch {
    color: red;
    margin-right: 0.5em;
  }
}

input[type="number"] {
  width: 3em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

ol > li {
  position: relative;
  height: 7em;
  margin-bottom: 1em;
}

li ul {
  margin-left: 0;
  padding-left: 0.5em;;
  list-style: none;
}

.number {
  font-size: 4em;
}

#twitter-button, #l {
  position: fixed;
  top: 1em;
  right: 1em;
}
